@model ProyectoPrograIV.Models.Team

@{
    ViewData["Title"] = "Batalla";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">¡Es hora de la Batalla!</h2>
        <div class="battle-container">
            <div class="monster-background">
                <div class="monster-display" style="background-image: url('@Model.Monsters[0].Sprite');">
                    <div class="monster-image">
                        <img src="@Model.Monsters[0].Sprite" alt="@Model.Monsters[0].MonsterName" />
                    </div>
                </div>
            </div>

            <h3>@Model.Monsters[0].MonsterName</h3>
        </div>

        <div class="monster-buttons">
            @foreach (var monster in Model.Monsters)
            {
                if (Model.Monsters[0] != monster)
                {
                    <button class="monster-button" onclick="changeMonster('@monster.MonsterName', '@monster.Sprite')">
                        <img src="@monster.Sprite" alt="@monster.MonsterName" class="img-thumbnail" width="50" height="50">
                    </button>
                }
            }
        </div>
    </div>
</div>

<script>
    function changeMonster(name, sprite) {
        document.querySelector('.monster-display').style.backgroundImage = 'url(' + sprite + ')';
        document.querySelector('.monster-image img').src = sprite;
        document.querySelector('h3').innerText = name;
    }
</script>
